<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Monoton&display=swap" rel="stylesheet">
    <title>Page not found</title>
</head>

<body>
    <h1 id="404">Error 404</h1>
    <div id="naruto"><img src="/static/image/narutopleure.jpeg" alt="naruto qui pleure" /><h2>Voilà tu m'a fais mal</h2></div>
</body>

</html>